__pycache__/
env
*.log
*.db
*.png
*.svg
*.pdf
*.pickle
!analysis_objects0.pickle
*.gv
*.gv.*
project/tests/*.xml
venv
tags
tags.lock
tags.temp
data.db
.pylintrc
.DS_Store
.idea/
.mypy_cache
/tests/analysis_objects0.pickle
/build/
/dist/
/app/wiki_analysis.egg-info/
/wiki_analysis.egg-info/
/build/
/dist/
